html, body{
    height: 100%;
}
body{
    padding-top: 5rem;
background-color: #f5f5f5;
}
.form-login{
max-width: 25rem;
margin: auto;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
 .mb-3{
    color:aliceblue;
    font-size: 18px;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
 }
 .form-floating  {
    color: black;
 }